.reviewsList {
  padding: 20px;
  /* margin: 0; */
}

.reviewsAuthor {
  font-family: serif;
  font-size: 17px;
  font-weight: 600;
}

.reviewsContent {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
