.articleMovie {
  display: flex;
  padding: 8px 30px 0;
}

.buttonImg {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button {
  font-weight: 600;
  padding: 6px 10px 6px 10px;
  cursor: pointer;
  margin-bottom: 2px;
  font-size: 18px;
  text-align: center;
  color: #fff;
  background-color: #702b8b;
  border: none;
  border-radius: 10px;
  outline: none;
}
.button:hover {
  background-color: #2988d6;
}

.titleList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
  box-shadow: 2px 2px 2px 1px rgba(15, 4, 109, 0.2);
  padding: 5px;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
  font-size: 25px;
  font-weight: 800;
}

.genresItem {
  display: inline-block;
  padding: 0px 5px 0px 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.Overview,
.Genres {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 700;
}

.overviewText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.movieImg {
  display: block;
  width: 300px;
  height: 400px;
}
